<div class="container-about">
  <div class="container-me">
    <div class="text-box">
    <h1 style ="font-weight:bold;text-shadow:1px black; word-spacing:5px;">Pleased to meet you!</h1>
    <p>
      I'm a Web Developer from the Greater Seattle Area.
      After graduating with a Communications degree,I decided I wanted a craft I could call my own.
      A few developers introduced me to programming While I was working in customer service at a tech startup. After completing a few courses from Code Academy,
      I fell in love and knew it was time for me to take the next step.
      Since I had just graduated and was working full time, going back to college for a CS degree would not be possible. A friend of mine told me about Bloc, a coding bootcamp that allows you to choose your learning pace. I enrolled in Bloc’s full stack web development bootcamp in July, 2015 and completed it in May, 2016.
      Since then, I have been working at a startup called MediaRails. MediaRails is a CRM application that helps manage affiliate marketing.
    </p>
    <%= link_to 'Home', root_path %>

  </div>

</div>
